.Header {
    background-color: #0f4c8b;
}
.logoBox {
    width: 114px;
    height: 35px;
}
.linkBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.how {
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-decoration: none;
    padding: 15px 9px 13px;
    border-bottom: 2px solid #0f4c8b;
    border-left: 1px solid #0f4c8b;
    border-right: 1px solid #0f4c8b;
}
.how:hover {
    background: #0f4c8b !important;
    border-bottom: 2px solid #fb921e;
    color: #d3d3d3 !important;
}